Repository mikedizon/strawberry-django-jwt: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

Add wheel package for windows tests
  .github/workflows/tests.yml
Due: check-yaml

Update actions, bump minimum strawberry version
  .github/workflows/tests.yml
  noxfile.py
  poetry.lock
  pyproject.toml
  strawberry_django_jwt/utils.py
Due: check-toml, check-yaml

Fix pyupgrade and mypy, update UNSET imports
  .pre-commit-config.yaml
  mypy.ini
  tests/test_auth.py
Due: check-yaml

Require even newer strawberry
  .idea/strawberry-django-jwt.iml
  pyproject.toml
Due: check-toml

Ditch older strawberry tests
  noxfile.py
Due: none

Add a utility function for creating user tokens
  strawberry_django_jwt/utils.py
  tests/test_utils.py
Due: none

Fix async context
  strawberry_django_jwt/utils.py
  tests/test_utils.py
Due: none

WIP
  strawberry_django_jwt/middleware.py
Due: none

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
