Repository tasdev-au/strawberry-django-jwt: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/ambv/black
    rev: "22.3.0"
    hooks:
      - id: black
        language_version: python3.9
  - repo: https://github.com/pycqa/flake8
    rev: "4.0.1"
    hooks:
      - id: flake8
  - repo: local
    hooks:
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.2
    hooks:
      - id: prettier

Update strawberry-graphql, bump version
  poetry.lock
  pyproject.toml
Due: check-toml

Do not return refresh expiration if refresh tokens are not used
  .github/workflows/release.yml
  poetry.lock
  pyproject.toml
  strawberry_django_jwt/decorators.py
Due: check-toml, check-yaml

Lock max strawberry version for now
  noxfile.py
Due: none

Make refresh_expires_in optional when not using refresh tokens
  strawberry_django_jwt/object_types.py
  tests/refresh_token/mixins.py
Due: none

Add a utility function for creating user tokens (#341)
  strawberry_django_jwt/decorators.py
  strawberry_django_jwt/object_types.py
  strawberry_django_jwt/refresh_token/shortcuts.py
  strawberry_django_jwt/utils.py
  tests/test_utils.py
Due: none

Fix async refresh (#342)
  .idea/strawberry-django-jwt.iml
  README.md
  strawberry_django_jwt/mixins.py
  strawberry_django_jwt/mutations.py
  tests/example_app/schema.py
  tests/mixins.py
  tests/refresh_token/mixins.py
  tests/refresh_token/mutations.py
  tests/refresh_token/test_mutations.py
  tests/test_mutations.py
Due: none

Bump version
  pyproject.toml
Due: check-toml

Fixed refresh token.
  strawberry_django_jwt/mixins.py
Due: none

Fixed broken version constraint.
  pyproject.toml
Due: check-toml

Updated lock file.
  poetry.lock
Due: none

fix error RefreshedTokenType.__init__() takes 1 positional argument but 4 positional arguments (and 1 keyword-only argument) were given (#353)
  strawberry_django_jwt/mixins.py
Due: none

Fix keepalive refresh mixin with new poetry (#357)
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  noxfile.py
  poetry.lock
  pyproject.toml
  strawberry_django_jwt/mixins.py
  tests/test_utils.py
Due: check-toml, check-yaml

Added channels.
  strawberry_django_jwt/middleware.py
  strawberry_django_jwt/utils.py
Due: none

Only add user to context if not already added.
  strawberry_django_jwt/middleware.py
Due: none

Fixed async issues.
  strawberry_django_jwt/auth.py
  strawberry_django_jwt/decorators.py
  strawberry_django_jwt/middleware.py
Due: none

Fixed refresh_expires_in for long running refresh tokens.
  strawberry_django_jwt/utils.py
Due: none

Allow adding of extra fields to payload type.
  strawberry_django_jwt/object_types.py
  strawberry_django_jwt/settings.py
Due: none

Support ChannelsRequest.
  strawberry_django_jwt/auth.py
  strawberry_django_jwt/decorators.py
  strawberry_django_jwt/middleware.py
  strawberry_django_jwt/utils.py
Due: none
