Repository mikedizon/strawberry-django-jwt: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

Fix mypy deps in noxfile
  noxfile.py
  poetry.lock
  pyproject.toml
  strawberry_django_jwt/utils.py
  tests/test_decorators.py
  tests/test_middleware.py
  tests/test_queries.py
Due: check-toml

Update dependencies, add more tests, refactor code
  .github/workflows/constraints.txt
  README.md
  poetry.lock
  pyproject.toml
  strawberry_django_jwt/__init__.py
  strawberry_django_jwt/auth.py
  strawberry_django_jwt/decorators.py
  strawberry_django_jwt/middleware.py
  strawberry_django_jwt/mixins.py
  strawberry_django_jwt/mutations.py
  strawberry_django_jwt/refresh_token/shortcuts.py
  strawberry_django_jwt/utils.py
  strawberry_django_jwt/views.py
  tests/mixins.py
  tests/refresh_token/mixins.py
  tests/refresh_token/test_mutations.py
  tests/test_auth.py
  tests/test_backends.py
  tests/test_decorators.py
  tests/test_middleware.py
  tests/test_mutations.py
  tests/test_queries.py
  tests/test_utils.py
  tests/test_views.py
  tests/testcases.py
Due: check-toml

Add codacy coverage upload step, fix formatting issues
  .codacy.yml
  .github/workflows/tests.yml
  README.md
  strawberry_django_jwt/__init__.py
  strawberry_django_jwt/mixins.py
Due: check-yaml

Fix codacy quality issues
  strawberry_django_jwt/__init__.py
  strawberry_django_jwt/mixins.py
Due: none

Add missing packaging dependency
  poetry.lock
  pyproject.toml
Due: check-toml

Add more tests, update noxfile
  README.md
Due: none

Add missing packaging dependency
  pyproject.toml
Due: check-toml

Fix newer strawberry-graphql support
  .github/workflows/tests.yml
  .idea/misc.xml
  .idea/strawberry-django-jwt.iml
  mypy.ini
  noxfile.py
  poetry.lock
  pyproject.toml
  strawberry_django_jwt/decorators.py
  strawberry_django_jwt/fields.py
  strawberry_django_jwt/mixins.py
  tests/test_mutations.py
Due: check-toml, check-yaml

Update tests, remove redundant custom strawberry field
  README.md
  noxfile.py
  poetry.lock
  pyproject.toml
  strawberry_django_jwt/fields.py
  strawberry_django_jwt/mixins.py
  strawberry_django_jwt/mutations.py
  strawberry_django_jwt/refresh_token/mutations.py
  tests/test_mutations.py
  tests/test_queries.py
  tests/test_views.py
Due: check-toml

Fix nox sessions used in github actions
  .github/workflows/tests.yml
Due: check-yaml

Collect coverage from dependency tests
  .github/workflows/tests.yml
Due: check-yaml

Relax dependencies in pyproject.toml
  poetry.lock
  pyproject.toml
Due: check-toml

Update strawberry argument creation to support strawberry-graphql>=0.69.0
  .idea/misc.xml
  .idea/strawberry-django-jwt.iml
  poetry.lock
  pyproject.toml
  strawberry_django_jwt/mixins.py
  strawberry_django_jwt/mutations.py
  strawberry_django_jwt/utils.py
Due: check-toml

Limit maximum strawberry-graphql versions for now
  noxfile.py
  poetry.lock
  pyproject.toml
Due: check-toml

Update to support strawberry-graphql>=0.69.0 and strawberry-graphql-django>=0.2.5
  .github/release-drafter.yml
  noxfile.py
  poetry.lock
  pyproject.toml
  strawberry_django_jwt/decorators.py
  strawberry_django_jwt/utils.py
Due: check-toml, check-yaml

Fix strawberry-graphql dependency specification
  poetry.lock
  pyproject.toml
Due: check-toml

Set upper bound for strawberry-graphql version
  poetry.lock
  pyproject.toml
Due: check-toml

Update tests
  noxfile.py
Due: none

Move middleware definition to strawberry extensions
  README.md
  noxfile.py
  poetry.lock
  pyproject.toml
  strawberry_django_jwt/middleware.py
  strawberry_django_jwt/testcases.py
  strawberry_django_jwt/utils.py
  tests/test_middleware.py
Due: check-toml

Change strawberry-graphql version testing in nox
  noxfile.py
Due: none

Fix strawbery-graphql-django fields without resolvers
  strawberry_django_jwt/decorators.py
  strawberry_django_jwt/fields.py
  strawberry_django_jwt/mixins.py
  strawberry_django_jwt/utils.py
  tests/migrations/0001_initial.py
  tests/migrations/__init__.py
  tests/models.py
  tests/settings.py
  tests/test_mutations.py
  tests/test_queries.py
  tests/types.py
Due: none

Fix mypy
  mypy.ini
  strawberry_django_jwt/fields.py
Due: none

Update tests
  strawberry_django_jwt/mixins.py
  tests/refresh_token/test_queries.py
Due: none

Fix user-passes-test decorator for permission_required and others
  strawberry_django_jwt/decorators.py
  tests/test_queries.py
  tests/testcases.py
Due: none

Remove mandatory rest_framework import in utils
  .idea/misc.xml
  pyproject.toml
  strawberry_django_jwt/utils.py
Due: check-toml

Disable coverage for type hinting imports
  strawberry_django_jwt/utils.py
Due: none

Add introspection auth
  README.md
  strawberry_django_jwt/middleware.py
  strawberry_django_jwt/settings.py
  tests/example_app/schema.py
  tests/example_app/urls.py
  tests/test_queries.py
Due: none

Fix mypy
  strawberry_django_jwt/middleware.py
Due: none

Update middleware
  strawberry_django_jwt/middleware.py
Due: none

Remove Django <= 3.1 support, allow strawberry-graphql-django 3.0 release candidates
  noxfile.py
  poetry.lock
  pyproject.toml
  tests/apps.py
Due: check-toml

Remove django 3.1 specific test cases
  strawberry_django_jwt/testcases.py
  tests/test_backends.py
  tests/test_views.py
  tests/testcases.py
Due: none

Remove django 3.1 specific test cases
  tests/test_backends.py
Due: none

Update dependencies, add nox-poetry
  .github/workflows/constraints.txt
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  noxfile.py
  poetry.lock
  pyproject.toml
Due: check-toml, check-yaml

Fix tests
  .github/workflows/tests.yml
Due: check-yaml

Update dependencies, add nox-poetry
  poetry.lock
Due: none

Rebase, fix tests
  .github/workflows/tests.yml
  poetry.lock
  pyproject.toml
Due: check-toml, check-yaml

Update pre-commit
  .pre-commit-config.yaml
Due: check-yaml

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
